#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  background-color: rgba(0, 195, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}